*{margin:0;
padding: 0;
box-sizing: border-box;

}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color : lavender;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color : lavender;
}
h3{
    color : lavender;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

body {
    background-image : url(/images/Sunset.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color : black;
    

}

p {
    color : lavender;
    font-family: 'Courier New', Courier, monospace;
    
}


/*Grid info below*/
.grid-container{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr; /*fr's are fractions of grid space*/
    /*grid-auto-rows : minmax(1fr, auto);*/
    grid-template-rows : 1fr 1fr 1fr;
    grid-column-gap : 20px;
    grid-row-gap : 20px;
    align-items: center; /*vertical location of items in grid boxes*/
    justify-items: center;/*horizontal location of items in grid boxes*/
    align-content : space-around; /* How the boxes are vertically spaced within the grid (not as apparent since my grid is fractional and not pixel values) */
    justify-content: center; /*How the boxes below are horizontally spaced within the grid (not as apparent since my grid is fractional and not pixel values) */
    grid-template-areas : 
    "a a ."
    "b b c"
    "d d d"

}

.grid-item-1{
    grid-area : a;
    color : lavender;
    border-top-style: solid;
    border-top: .25rem solid pink;
}

.grid-item-2{
    grid-area : b;
    color : lavender;
    border-top-style: solid;
    border-top: .25rem solid pink;
}
.grid-item-3{
    grid-area : d;
    color : lavender;
    border-top-style: solid;
    border-top: .25rem solid pink;
}
.grid-item-4{
    grid-area : c;
    color : lavender;
    border-style: solid ;
    border-color: pink;
    border-width: .25rem;
}
/*End Grid Info*/

/*NavBar info below*/

/*navbar color and size*/
.topnav {
   
    background-color: whitesmoke;
    border-top-style : solid;
    border-top-color: pink;
    border-top-width: 10px;
    
    overflow: hidden;



}

/*formatting links in navbar*/
.topnav a {
    
    font-size: 20px;
    color: black;
    float: left;
    text-align: center;
    text-decoration:none;
    padding: 14px 10px;
}

/*formatting mouse hover in navbar*/
.topnav a:hover {
    background-color:darkgray;
    color : black;
}

/*formatting active page in navbar*/
.topnav a.active{
    background-color:pink;
    color: white;
}

/*End NavBar Info*/

/*formatting clickable image*/

.grid-container2{
    display : grid;
    grid-template-columns: 1fr 8fr 1fr; /*fr's are fractions of grid space*/
    /*grid-auto-rows : minmax(1fr, auto);*/
    grid-template-rows : 1fr;
    grid-column-gap : 20px;
    grid-row-gap : 20px;
    align-items: center; /*vertical location of items in grid boxes*/
    justify-items: center;/*horizontal location of items in grid boxes*/
    align-content : space-around; /* How the boxes are vertically spaced within the grid (not as apparent since my grid is fractional and not pixel values) */
    justify-content: center; /*How the boxes below are horizontally spaced within the grid (not as apparent since my grid is fractional and not pixel values) */
    grid-template-areas : 
    ". a ."
    ". . ."
    ". . ."
}
.grid-container2 img{
    grid-area : a;
    width : 200px;
    height : 200px;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;

}
.grid-container2 img:hover{
   transform: scale(1.2)

}

.modal{
    background:rgba(0,0,0,.6);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    pointer-events: none;
}
.modal.open{
    opacity:1;
    pointer-events:all;

}

.modal p{
    color: lavender;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
    transition: all 0.25s ease-out;
}
.full-image{
    position:absolute;
    height: 125%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) scale(0.5);

}
.full-image.open{
    transform:translate(-50%,-50%) scale(0.5);

}

/*
.grid-item-5{
    grid-area : a;
    color : lavender;
    border-style: solid ;
    border-color: pink;
    border-width: .25rem;
}
*/


/*End Clickable image Info*/


