
h1 {
    font-family: 'Courier New', Courier, monospace;
    color : lavender;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color : lavender;
}
h3{
    color : lavender;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

body {
    background-image : url(/images/Sunset.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color : black;
    

}

p {
    color : lavender;
    font-family: 'Courier New', Courier, monospace;
    
}

.grid-container{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr; /*fr's are fractions of grid space*/
    /*grid-auto-rows : minmax(1fr, auto);*/
    grid-template-rows : 1fr 1fr 1fr;
    grid-column-gap : 20px;
    grid-row-gap : 20px;
    align-items: center; /*vertical location of items in grid boxes*/
    justify-items: center;/*horizontal location of items in grid boxes*/
    align-content : space-around; /* How the boxes are vertically spaced within the grid (not as apparent since my grid is fractional and not pixel values) */
    justify-content: center; /*How the boxes below are horizontally spaced within the grid (not as apparent since my grid is fractional and not pixel values) */
    grid-template-areas : 
    "a a ."
    "b b c"
    "d d d"



   
    
}

.grid-item-1{
    grid-area : a;
    color : lavender;
    border-top-style: solid;
    border-top: .25rem solid pink;
}

.grid-item-2{
    grid-area : b;
    color : lavender;
    border-top-style: solid;
    border-top: .25rem solid pink;
}
.grid-item-3{
    grid-area : d;
    color : lavender;
    border-top-style: solid;
    border-top: .25rem solid pink;
}
.grid-item-4{
    grid-area : c;
    color : lavender;
    border-style: solid ;
    border-color: pink;
    border-width: .25rem;
    background-color:
}    